.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container-box {
        display: flex;
        justify-content: center;
        width: 70%;
        box-shadow: 2px 5px 15px #18181d55;
        border-radius: 25px;
        margin: 55px 25px;

        .box-title-dashboard {
            display: flex;
            flex-direction: column;
            background-color: #206ad9;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            width: 50%;
            gap: 60px;
            padding: 15px;

            .sair {
                display: flex;
                justify-content: space-between;

                button {
                    display: flex;
                    justify-content: center;
                    border-radius: 25px;
                    gap: 5px;
                    color: #ccc;
                    transition: all 0.3s;

                    &:hover {
                        color: #fff;
                        transform: scale(1.03);
                    }
                }
            }

            .banner-dashboard {
                color: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                h1 {
                    font-family: 'Sofia Sans', sans-serif;
                    font-size: 3.2rem;
                }

                p {
                    font-size: 18px;
                    max-width: 400px;
                    color: #fff;
                }

                .info {
                    text-align: center;
                    font-size: 14px;
                    max-width: 360px;
                    color: #e2e2e2;
                }
            }
        }

        .content-dashboard {
            padding: 25px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            width: 50%;

            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;

            .box-inputs-agendamento {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 6px;

                    label {
                        color: #18181d;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 13px;


                        span {
                            color: brown;
                        }
                    }

                    input {
                        padding: 8px 15px;
                        border-radius: 6px;
                        background-color: transparent;
                        border: 1px solid #ccc;
                        font-family: 'Open sans', sans-serif;
                        color: #18181d;
                        font-size: 15px;
                        width: 100%;
                        margin-bottom: 12px;
                    }

                    select {
                        padding: 8px 15px;
                        margin-bottom: 12px;
                        border-radius: 6px;


                    }

                    button {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        background-color: #206ad9;
                        color: #fff;
                        font-size: 18px;
                        cursor: pointer;
                        transition: all 0.25s;

                        &:hover {
                            background-color: #164997;
                            transform: scale(0.96);
                        }
                    }
                }
            }
        }

    }

    .info-painel {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #000000;
        box-shadow: 5px 5px 12px #18181d40;
        padding: 35px 45px;
        border-top-left-radius: 75px;
        border-top-right-radius: 75px;
        gap: 12px;

        h3 {
            color: #fff;
            font-size: 2.2rem;
            font-family: 'Sofia Sans', sans-serif;
        }

        p {
            color: #fff;
            max-width: 480px;
            font-size: 15px;
            font-family: 'open sans', sans-serif;
        }

        .card {
            font-family: 'Open Sans', sans-serif;
            background: #fff;
            padding: 18px;
            margin-bottom: 15px;
            border-radius: 8px;
            box-shadow: 0 2px 12px #18181dba;
            display: flex;
            justify-content: space-between;

            .deletar-consulta {
                padding: 8px 12px;
                border-radius: 8px;
                background: #cf0f0f;
                border: none;
                color: #fff;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 6px;
                transition: all 0.25s;

                &:hover {
                    transform: scale(0.96);
                    background-color: #6b1212;
                }
            }
        }
    }
}

@media (max-width:1204px) {
    .container-dashboard {
        display: flex;
        justify-content: center;
        align-items: center;

        .container-box {
            display: flex;
            justify-content: center;
            width: 80%;
            box-shadow: 2px 7px 15px #18181d53;
            border-radius: 25px;
            margin: 55px 25px;

            .box-title-dashboard {
                display: flex;
                width: 100%;
                gap: 50px;
                padding: 15px;

                .banner-dashboard {
                    margin-bottom: 20px;
                    align-items: center;
                    text-align: center;
                }
            }

            .content-dashboard {
                padding: 25px 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                width: 100%;

                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;

                .box-inputs-agendamento {
                    display: flex;
                    width: 80%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                }
            }
        }

        .info-painel {
            display: flex;
            flex-direction: column;
            width: 100%;
            background: #000000;
            box-shadow: 2px 5px 15px #18181d40;
            gap: 12px;
            margin: 55px;

            h3 {
                color: #fff;
                font-size: 2.2rem;
                font-family: 'Sofia Sans', sans-serif;
            }

            p {
                color: #fff;
                max-width: 480px;
                font-size: 15px;
                font-family: 'open sans', sans-serif;
            }

            .card {
                font-family: 'Open Sans', sans-serif;
                background: #fff;
                padding: 12px;
                border-radius: 8px;
                box-shadow: 0 2px 12px #18181dba;
                display: flex;
                justify-content: space-between;

                .deletar-consulta {
                    padding: 8px 12px;
                    border-radius: 8px;
                    background: #cf0f0f;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    transition: all 0.25s;

                    &:hover {
                        transform: scale(0.96);
                        background-color: #6b1212;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .container-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .container-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            box-shadow: 2px 7px 15px #18181d53;
            border-radius: 25px;
            margin: 55px 25px;

            .box-title-dashboard {
                display: flex;
                flex-direction: column;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 0px;
                width: 100%;
                gap: 50px;
                padding: 15px;

                .banner-dashboard {
                    margin-bottom: 20px;
                }
            }

            .content-dashboard {
                padding: 25px 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                width: 100%;

                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;

                .box-inputs-agendamento {
                    display: flex;
                    width: 80%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                }
            }
        }

        .info-painel {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 35px;
            border-top-left-radius: 75px;
            border-top-right-radius: 75px;
            background: #000000;
            box-shadow: 0px -5px 12px #18181d40;
            gap: 12px;
            margin: 0;

            h3 {
                color: #fff;
                font-size: 2.2rem;
                font-family: 'Sofia Sans', sans-serif;
            }

            p {
                color: #fff;
                max-width: 480px;
                font-size: 15px;
                font-family: 'open sans', sans-serif;
            }

            .card {
                font-family: 'Open Sans', sans-serif;
                background: #fff;
                padding: 12px;
                border-radius: 8px;
                box-shadow: 0 2px 12px #18181dba;
                display: flex;
                justify-content: space-between;

                .deletar-consulta {
                    padding: 8px 12px;
                    border-radius: 8px;
                    background: #cf0f0f;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    transition: all 0.25s;

                    &:hover {
                        transform: scale(0.96);
                        background-color: #6b1212;
                    }
                }
            }
        }
    }
}

@media (max-width:490px) {
    .container-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            box-shadow: 0px -5px 15px #18181d53;
            border-radius: 50px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            margin: 55px 25px;

            .box-title-dashboard {
                display: flex;
                flex-direction: column;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-left-radius: 0px;
                width: 100%;
                gap: 50px;
                padding: 15px;

                .banner-dashboard {
                    margin-bottom: 20px;
                    align-items: center;
                    text-align: center;


                    h1 {
                        font-size: 2.1rem;
                    }
                }
            }

            .content-dashboard {
                padding: 25px 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                width: 100%;

                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .box-inputs-agendamento {
                    display: flex;
                    width: 80%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                }
            }
        }

        .info-painel {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 25px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            background: #000000;
            box-shadow: 0px -5px 12px #18181d40;
            gap: 12px;
            margin: 0;

            h3 {
                color: #fff;
                font-size: 2.2rem;
                font-family: 'Sofia Sans', sans-serif;
            }

            p {
                color: #fff;
                max-width: 480px;
                font-size: 15px;
                font-family: 'open sans', sans-serif;
            }

            .card {
                font-family: 'Open Sans', sans-serif;
                background: #fff;
                padding: 12px;
                border-radius: 8px;
                box-shadow: 0 2px 12px #18181dba;
                display: flex;
                justify-content: space-between;

                .deletar-consulta {
                    padding: 10px;
                    border-radius: 8px;
                    background: #cf0f0f;
                    border: none;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    cursor: pointer;
                    transition: all 0.25s;

                    &:hover {
                        transform: scale(0.96);
                        background-color: #6b1212;
                    }
                }
            }
        }
    }
}