.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 120vh;

    .container-box {
        display: flex;
        justify-content: center;
        width: 70%;
        box-shadow: 0px 0px 15px #18181d40;
        border-radius: 25px;
        margin: 55px 25px;

        .box-title-dashboard {
            display: flex;
            flex-direction: column;
            background-color: #206ad9;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            width: 50%;
            gap: 60px;
            padding: 15px;

            .sair {
                display: flex;
                justify-content: flex-start;

                button {
                    display: flex;
                    justify-content: center;
                    border-radius: 25px;
                    gap: 5px;
                    color: #18181d80;
                    transition: all 0.3s;

                    &:hover{
                        color: #fff;
                        transform: scale(1.03);
                    }
                }
            }

            .banner-dashboard {
                color: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                h1 {
                    font-family: 'Sofia Sans', sans-serif;
                    font-size: 3.2rem;
                }

                p {
                    font-size: 18px;
                    max-width: 400px;
                    color: #fff;
                }

                .info {
                    text-align: center;
                    font-size: 14px;
                    max-width: 360px;
                    color: #e2e2e2;
                }
            }
        }

        .content-dashboard {
            padding: 25px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            width: 50%;

            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;

            .box-inputs-agendamento {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                form {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 6px;

                    label {
                        color: #18181d;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 13px;


                        span {
                            color: brown;
                        }
                    }

                    input {
                        padding: 8px 15px;
                        border-radius: 6px;
                        background-color: transparent;
                        border: 1px solid #ccc;
                        font-family: 'Open sans', sans-serif;
                        color: #18181d;
                        font-size: 15px;
                        width: 100%;
                        margin-bottom: 12px;
                    }

                    select {
                        padding: 8px 15px;
                        margin-bottom: 12px;
                        border-radius: 6px;


                    }

                    button {
                        background-color: #206ad9;
                        width: 100%;
                        font-size: 18px;
                        cursor: pointer;
                        transition: all 0.2s;

                        &:hover {
                            background-color: #164997;
                            transform: scale(1.04);
                        }
                    }
                }
            }
        }

    }

    .info-painel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        flex: 1;
        background: #fff;
        box-shadow: 0px 0px 15px #18181d40;
        padding: 25px;
        border-radius: 20px;
        gap: 12px;

        p {
            max-width: 340px;
            font-size: 15px;
            font-family: 'open sans', sans-serif;
        }
    }
}