.container-perfil-nutri {
    display: flex;
    height: 100vh;

.home-content {
    margin-left: 80px;
    padding: 25px 50px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: filter 0.3s ease;
    filter: blur(0px);

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lexend Deca', sans-serif;

    }

    .bar {
        border-radius: 25px;
        margin-top: 30px;
        height: 2px;
        background: var(--nCor4);
    }

    .box-content {
        padding: 25px 0;

        .title-content {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
            }
        }

        .grupo {
            display: flex;
            gap: 35px;

            .box {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 7px;
                background: none;
                box-shadow: 3px 5px 8px #18181d5e;
                border: 1px solid var(--nCor5);
                padding: 20px;
                max-width: 200px;
                cursor: pointer;
                transition: all 0.25s ease-in-out;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style-type: none;
                    font-family: 'Open Sans', sans-serif;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--nCor4);
                        padding: 12px;
                        width: 50px;
                        height: 50px;
                        color: var(--title2);
                        border-radius: 50%;
                    }

                    span {
                        margin-top: 12px;
                        font-weight: 600;
                    }

                    p {
                        margin-top: 7px;
                        font-weight: 400;
                        font-size: 0.9rem;

                    }
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.sidebar:not(.close) ~ .home-content {
    filter: blur(4px);
}

}