@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fondamento:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Voces&display=swap');

:root {
  font-family: "Open Sans", sans-serif;
  /* Paleta de Cores Moderna */
  --primary: #4f46e5;
  /* Índigo principal */
  --primary-hover: #4338ca;
  --primary-light: #eef2ff;
  --success: #10b981;
  /* Verde sucesso */
  --success-hover: #059669;
  --success-light: #d1fae5;
  --danger: #ef4444;
  /* Vermelho erro */
  --danger-light: #fee2e2;

  --info: #3b82f6;
  --text-main: #111827;
  /* Quase preto para títulos */
  --text-muted: #6b7280;
  /* Cinza para textos secundários */

  --bg-page: #f3f4f6;
  /* Fundo da página */
  --bg-card: #ffffff;
  /* Fundo dos cards */
  --border-color: #e5e7eb;
  /* Bordas sutis */

  color-scheme: light dark;
  background-color: #ffffe1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(17, 24, 39, 0.6);
    backdrop-filter: blur(4px); /* Efeito de vidro */

    animation: fadeIn 0.35s ease;
    z-index: 1000;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 3rem 2rem;
      max-width: 450px;
      width: 90%;

      background: var(--bg-card);
      border-radius: 24px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.347);

      animation: scaleIn 0.35s ease;
      gap: 1rem;

      .modal-msg{
        p{
          margin-top: 6px;
        }
      }

      .btn-fechar {
        position: absolute;
        top: 1rem;
        right: 1rem;

        button {
          border: 1px solid var(--border-color);
          color: var(--text-main);
          border-radius: 100%;
          padding: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s;

          &:hover {
            background-color: var(--bg-page);
            transform: scale(1.05);
          }
        }
      }

      .modal-btn {
        button {
          background: var(--info);
        }
      }
    }
  }
}
a {
  font-weight: 700;
  color: var(--color3);
  text-decoration: inherit;
}

a:hover {
  color: #243142;
}

button {
  border-radius: 8px;
  outline: none;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #18181d;
  font-size: 15px;

  option {
    font-family: "Open Sans", sans-serif;
    background-color: #020202;
    border-radius: 10px;
    color: #fff;

    @media (prefers-color-scheme: light) {
      :root {
        color: #213547;
        background-color: #ffffff;
      }

      a:hover {
        color: #747bff;
      }

      button {
        background-color: #f9f9f9;
      }
    }
  }
}

// KeyFrames reutilizáveis
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
