@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Forum&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  --color1: #655ab1;
  --color2: #2c2958;
  --color3: #ffdef4;
  --color4: #b196fa;
  --title1: #000000;
  --title2: #fff;

  color-scheme: light dark;
  background-color: #ffffe1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: var(--color3);
  text-decoration: inherit;
}

a:hover {
  color: #243142;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #18181d;
  font-size: 15px;

  option {
    font-family: 'Open Sans', sans-serif;
    background-color: #020202;
    border-radius: 10px;
    color: #fff;

    @media (prefers-color-scheme: light) {
      :root {
        color: #213547;
        background-color: #ffffff;
      }

      a:hover {
        color: #747bff;
      }

      button {
        background-color: #f9f9f9;
      }
    }
  }
}