.chat-container {
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .mensagem {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 10px 15px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .chat-fixo {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #11b91d;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: background-color 0.3s;

        a {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: var(--color4);
        }

        span {
            border-radius: 50%;
            padding: 2px 6px;
            position: absolute;
            top: -10px;
            right: 5px;
            font-size: 11px;
            color: #fff;
            background-color: #de1544;
        }

        i {
            color: #fff;
        }
    }
}