@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Fjalla+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Voces&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    color: #121212;
    font-family: 'Open Sans', sans-serif;

    height: auto;
}

.container-home {
    .header {
        width: 100%;
        padding: 15px 55px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--title1);
        color: var(--title2);

        .logo {
            font-family: 'Roboto Serif', sans-serif;

            h1 {
                font-size: 2.3rem;

                span{
                    color: var(--color4);
                }
            }

            i {
                font-weight: 600;
            }
        }

        .links-header {
            padding: 0 55px;
            display: flex;
            gap: 35px;
            align-items: center;
            justify-content: space-around;

            a{
            text-transform: uppercase;
                color: #fff;
                font-size: 0.8rem;
                font-weight: 500;
                font-family: 'open sans', sans-serif;
                border-bottom: 3px solid transparent;
                border-radius: 12px;
                padding: 7px 10px;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(0.98);
                        color: var(--title2);
                        border-bottom: 3px solid var(--title2);
                    }
            }

            li {
                list-style: none;

                p{
                    font-size: 0.9rem;
                    font-weight: 600;
                    font-family: 'open sans', sans-serif;
                    color: #ccc;
                }

                .account {
                    border: 1.5px solid var(--color1);
                    border-radius: 7px;
                    transition: all 0.25s;

                    &:hover{
                        background-color: var(--color1);
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        font-family: 'open sans', sans-serif;
                    }
                }
                
            }
        }

    }

}