@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Fjalla+One&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Voces&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    color: #121212;
    font-family: 'Open Sans', sans-serif;

    height: auto;
}

.container-home {
    .header {
        width: 100%;
        padding: 7px 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #fff;
        color: #000000;

        .logo {
            font-family: 'Expletus Sans', sans-serif;

            h1 {
                font-size: 2rem;
            }

            i {
                font-weight: 600;
            }
        }

        .links-header {
            padding: 0 55px;
            display: flex;
            gap: 35px;
            align-items: center;
            justify-content: space-around;

            a{
                color: #000000;
                font-weight: 600;
                font-family: 'open sans', sans-serif;
                &:hover {
                        color: #206ad9;
                    }
            }

            li {
                list-style: none;

                .account {
                    background-color: #000000;
                    border-radius: 8px;
                    transition: all 0.25s;

                    &:hover{
                        transform: scale(0.96);
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 600;
                        font-family: 'open sans', sans-serif;
                    }
                }

            
            }
        }

    }

    .section-home {
        padding: 5rem 7rem;
        min-height: 70vh;
        background-color: #e2e2e2;

        .content-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h2 {
                font-size: 3rem;
                max-width: 800px;
                font-weight: 700;
                line-height: 3.2rem;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            p {
                font-size: 1.2rem;
                color: #535a5c;
                max-width: 800px;
                font-family: 'Open Sans', sans-serif;
            }
            button{
                background-color: #000000;
                color: #fff;
                width: 150px;
                padding: 10px 15px;
                border-radius: 25px;
                font-family: 'open sans', sans-serif;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    transform: scale(0.96);
                    background-color: #206ad9;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        padding: 25px 25px;
        background-color: #18181d;
        color: #ccc;
        font-family: 'Open Sans', sans-serif;

        .info-footer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 10px;
            margin: 12px;
            font-size: 13px;

            span {
                a {
                    color: #397bdf;
                    font-weight: 600;
                    text-decoration: none;
                    transition: all 0.3s;

                    &:hover {
                        color: #206ad9;
                    }
                }
            }
        }

        .position-footer {
            display: flex;
            justify-content: space-between;
            width: 80%;


            .linguage-footer {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 8px;

                p {
                    font-weight: 600;
                }

                ul {
                    display: flex;
                    gap: 10px;


                    li {
                        list-style: none;
                        color: #fff;
                    }
                }
            }

            .contato-footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;

                .icons-footer {
                    display: flex;
                    gap: 20px;

                    li {
                        list-style: none;

                        a {
                            color: #fff;
                            transition: all 0.3s;

                            &:hover {
                                color: #206ad9;
                            }
                        }
                    }
                }
            }
        }

    }
}