@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.banner-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    background-color: #096eb4;
    padding: 4rem 2rem;
    text-align: center;
    height: 70vh;

    .content-banner{
        color: #ffffff;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 1rem;
            font-family: 'Expletus Sans', serif;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            color: #e0e0e0c8;
            font-family: 'open sans', sans-serif;
        }

        .get-started {
            background-color: #ffffff;
            color: #096eb4;
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            text-decoration: none;

            a{
                text-decoration: none;
                color: #096eb4;
                font-family: 'open sans', sans-serif;
            }

            &:hover {
                transform: scale(0.96);
                background-color: #e0e0e0;
            }
        }
    }
}