.container-section-home-dois {
    background-color: #18181d;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));

    .grid {
        position: relative;
        cursor: pointer;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            filter: saturate(1.3);
            transition: all 0.4s ease-in-out;
        }

        .info-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: white;
            text-align: center;

            h3 {
                text-transform: uppercase;
                font-size: 1.7rem;
                margin-bottom: 25px;
                font-weight: 700;
                text-shadow: 2px 3px 5px #18181d;
                transform: translateY(80px);
                transition: all 0.4s ease-in-out;
            }

            .bar {
                width: 150px;
                height: 2px;
                opacity: 0;
                background-color: var(--color1);
                margin: 0 auto 25px auto;
                transform: translateY(30px);
                transition: all 0.4s ease-in-out;


            }

            p {
                width: 100%;
                font-size: 1.2rem;
                color: var(--title2);
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.4s ease-in-out;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
                opacity: 40%;
            }
            



            .info-text {

                h3 {
                    transform: translateY(0);
                }

                .bar {
                    opacity: 1;
                    transform: translateY(0);
                }

                p {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}