.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .container-cadastro-med {
        display: flex;
        justify-content: center;
        width: 70%;
        box-shadow: 0px 0px 15px #18181d40;
        border-radius: 25px;
        border: 1px solid #117124;


        .box-title-med {
            display: flex;
            flex-direction: column;
            background-color: #20d945;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            width: 50%;
            gap: 150px;
            padding: 15px;

            .voltar {
                display: flex;
                justify-content: flex-start;
            }

            button {
                display: flex;
                justify-content: center;
                border-radius: 25px;
                gap: 5px;
                color: #18181d80;
                transition: all 0.3s;

                p {
                    font-size: 16px;
                }

                &:hover {
                    color: #ffffff;
                    transform: scale(1.105);
                }
            }



            .banner-cadastro-med {

                color: #fff;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 12px;

                i {
                    color: #fff;
                }

                h1 {
                    font-family: 'Sofia Sans', sans-serif;
                    font-size: 3.2rem;
                }

                p {
                    font-size: 18px;
                    max-width: 400px;
                    color: #fff;
                }

                .info {
                    font-size: 14px;
                    max-width: 360px;
                    color: #e2e2e2;
                }
            }
        }
    }

    .box-inputs-med {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;
        padding: 35px;
        background-color: #fff;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;

        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            gap: 4px;

            label {
                color: #18181d;
                font-weight: 600;
                font-size: 13px;
                font-family: 'Open Sans', sans-serif;

                span {
                    color: brown;
                }
            }

            input {
                padding: 8px 15px;
                border-radius: 6px;
                background-color: transparent;
                border: 1px solid #ccc;
                font-family: 'Open sans', sans-serif;
                color: #18181d;
                font-size: 15px;
                width: 100%;
                margin-bottom: 12px;

                &:focus {
                    outline: none;
                    border-color: #20d945;
                    box-shadow: 0 0 0 4px rgba(44, 229, 84, 0.06);
                }
            }

            select {
                padding: 8px 15px;
                margin-bottom: 12px;
                border-radius: 6px;


            }

            .crn{
                display: flex;
                gap: 4px;
            }
        }

        button {
            background-color: #20d945;
            width: 100%;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                background-color: #117124;
                transform: scale(1.04);
            }
        }

        .ir-logar {
            margin-top: 22px;

            p {
                color: #18181d;

                a {
                    color: #20d945;
                    transition: all 0.2s;

                    &:hover {
                        color: #0f591e;
                    }
                }
            }
        }
    }

}

@media (max-width: 420px) {
    .container-cadastro {
        padding: 12px;
        border-radius: 16px;
    }

    .banner-cadastro h1 {
        font-size: 1.6rem;
    }

    .box-cadastro form {
        margin: 16px auto;
    }
}